<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CategoryMapper">
    <resultMap id="category" type="com.example.demo.entity.Category"/>
    <parameterMap id="category" type="com.example.demo.entity.Category"/>

    <insert id="addCategory" parameterType="category">
        INSERT INTO category (user_id, name) VALUES(#{userId}, #{name})
    </insert>

    <update id="deleteCategory">
        UPDATE category SET run = 0 WHERE id = #{id}
    </update>

    <update id="updateCategory" parameterType="category">
        UPDATE category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            id = #{id}
        </set>
        WHERE id = #{id}
    </update>

    <select id="getCategoryListByUserId" parameterType="Integer" resultType="category">
        SELECT * FROM category WHERE user_id = #{userId}
    </select>

    <select id="getCategoryById" parameterType="Integer" resultType="category">
        SELECT * FROM category WHERE id = #{categoryId}
    </select>
</mapper>